<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/sign-up.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div class="section">
        <div>이름<br>
        <input type="text" name="name" id="name" placeholder="name"></span></div>
        </div>
    <div class=section>
        <div>이메일
            <br>
        <input type="text" name="email" id="email" placeholder="email"></span></div>
    </div>
    <div class=section>
        <div>비밀번호
            <br>
        <input type="password" name="password" id="password" placeholder="password"></span></div>
    </div>
<!--    <div class=section>-->
<!--        <div>휴대폰번호-->
<!--            <br>-->
<!--            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="010-xxxx-xxxx"></span></div>-->
<!--    </div>-->
<!--    <label for="agree_all">-->
<!--        <input style="width:fit-content;"type="checkbox" name="agree_all" id="agree_all">-->
<!--        <span>모두 동의합니다</span>-->
<!--    </label>-->
        <div class="btn_box">
       <button class="signupBtn" id="signupBtn" style="border: 0; outline: 0;" >가입신청</button>
       <button class="cancelBtn" id="cancelBtn" style="border: 0; outline: 0;" >취소</button>
        </div>

    </div>

</body>
<script>

    function history_back(){
        history.back();
    }

    const onClickSignUp = async() => {
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        var policyAgreement = true;

        const data = {userName : name,
                      userEmail : email,
                      userPassword : password,
                      policyAgreement : policyAgreement,
                      phoneNumber : "010-0000-00000",

                      }

        console.log(data);
        await fetch('/login/sign-up',{
        method:"POST",
        headers:{
         "Content-Type":"application/json",
         },
         body:JSON.stringify(data),
        }).then((data) => console.log(data))
        .catch((e) => {console.log(e)});
    }
    document.getElementById("signupBtn").addEventListener("click", onClickSignUp);
    document.getElementById("cancelBtn").addEventListener("click", history_back);

</script>
</html>