#nav{
width: 310px;
height: 56px;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 23px;
border-style:solid;
border-width:1px;
display:flex;

flex-direction:row;

color: #000000;
}
.sign-out{
margin-left:60px;
}
