.section{
font-size: 16px;
font-weight: 500;
line-height: 23px;
font-style: normal;
margin-left:70px;
margin-bottom:27px;

}


input{
background:#E5E5E5;
width: 190px;
height: 32px;
}

button{
position: absolute;
width: 160px;
height: 64px;
left: 100px;
top: 495px;

background: #DF4629;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
/* identical to box height */
text-align: center;
color: #FFFFFF;

}